.ps{
    background-repeat: no-repeat;
    background-position:center;
    background-image: url('../../assets/icogaleria.svg');
}

.usr{
    background-repeat: no-repeat;
    background-position:center;
    background-image: url('../../assets/loginico.svg');
    
}

.km {
    background-repeat: no-repeat;
    background-position:center;
    background-image: url('https://wedproduction.com/themes/wedproduction/img/camarita.png');
    
}

.hrt{

    background-repeat: no-repeat;
    background-position:center;
    background-image: url('../../assets/love.svg');
    
}

.mleft{
    margin-left: 20px;
}