.nt{float: right; }
.terms{font-size: 70%;}
.txt-join{
    text-align: center;
    padding: 2px;
}

.p-w{
   background-color:#555;
   color: white;
   font-size: 75%;
   cursor: pointer;
}

.w-x{
    font-size: 70%;
}
.w-x1{
    font-size: 85%;
}
.t-gray{
    /*background: #F0ECE9; */
    padding: 5px;
}

.kiki{ font-size: 85%;}
